/* Color Scheme
#272727 - blackish
#747474 - grayish
#FF652F - orangish
#FFE400 - yellowish
#13A76C - greenish
*/

/* Navbar Styling */
nav {
    background-color: #272727;
}
.brand-logo {
    margin-left: 19%;
    color: #FFE400;  
}

.nav-bird { 
    margin-top: -5%;
    color: #FFE400;
}

.brand {
    color: #FFE400;
}

.workouts-nav,
.progress-nav {
    text-align: center;
    color: #FFE400;
}

.sidenav {
    background-color: #13A76C;
    width: 60%;
}

/* End Navbar styling */

/* Landing Page styling */
.title {
    color: #FF652F;
}

.sub-title {
    color: #FF652F;
    font-size: 175%;
}

.get-started-btn {
    background-color: #13A76C; 
    color: #FFE400;
    font-weight: bolder;
}

.bird-bullet {
    color: #FF652F;  
}

.tag-line {
    color: #FFE400;
} 

/* End of Landing Page Styling */

/* Login & Register Page Styling */
.back-btn {
    color: #13A76C;
}

.login-below,
.register-below {
    color: #FF652F;
}

input {
    color: #FF652F;
}

.have-account,
.account-already {
    color: #FFE400;
}

.register-now,
.login-now {
    color: #13A76C;
    font-size: 125%;
    font-weight: bolder;

}

.login-btn,
.sign-up-btn {
    background-color: #13A76C;
    color: #FFE400;
    font-weight: bolder;
}

/* End Login and Register Styling */

/* Dashboard Styling */

.create-plan-btn {
    background-color: #13A76C;
    color: #FFE400;
    font-weight: bolder;
    margin-bottom: 2%;

}

.logout-btn {
    background-color: #747474;
    color: #FF652F;
    font-weight: bolder;
}

.base-assessment-question {
    color: #FFE400;
    font-size: 125%;
}

.baseline-input-line {
    color: #FF652F;
    text-align: center;
    font-weight: bold;
}

#startDate {
    width: 111px;
}

.datepicker-table-wrapper {
    color: #FF652F;
}

/* End Dashboard Styling */

/* Workouts Styling */
.user-workout {
    color: #FF652F;
}
li {
    color: #FF652F;
    margin-bottom: 15%;
}

#walking-workout-page,
#pushups-workout-page,
#situps-workout-page,
#squats-workout-page {
    font-size: 175%;
    width: 100%;
    background-color: #13A76C;
    margin-bottom: 4%;
    color: #FFE400;
    font-weight: bolder;
}

.workout-logout {
    margin-top: 10%;
}

.workout-logout-btn {
    background-color: #747474;
    color: #FF652F;
    font-weight: bolder;
}

/* End of Workouts Styling */

/* Workout Card Styling */

.workout-header {
    margin-bottom: 4%;
}

.workout-item {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4%;
}

#workout-card-title {
    font-size: 150%;
    font-weight: bold;
}

.workout-card {
    background-color: #747474;
    font-size: 130%;
    color: #FFE400;
}

.set-marker {
    color: #FF652F;
    font-weight: bolder;
}
li.collection-item {
    color: #13A76C;
    text-align: left;
}

.attempted-btn,
.missed-btn {
    margin-right: 15%;
}

.attempted-btn,
.missed-btn,
.completed-btn {
    background-color: #13A76C;
    color: #FFE400;
    font-weight: bold;
}

.set-card {
    margin-bottom: 0%;
}

/* End of Card Styling */

/* Progress Page Styling */
.user-progress,
.progress-text {
    color: #FF652F;
}

#display-walking,
#display-pushups,
#display-situps,
#display-squats {
    color: #FFE400;
}

.tab-progress {
    background-color:#13A76C;
    /* width: 100%; */
}

.tabs .tab a {
    color: #272727;
    font-size: 90%;
}



th,
td {
    text-align: center;
    font-size: 120%;
}

.tabs .tab a:hover {
    color: #FFE400;
}

.tabs .tab a.active {
    color: #FFE400;
}

.tabs .tab a:focus.active {
    color: #FFE400;
}

/* End of Progress Page Styling */

/* Modals Styling */
#walking-modal-btn,
#pushup-modal-btn,
#situp-modal-btn,
#squat-modal-btn {
    color: #FFE400;
    font-size: 100%;
    background-color: #272727;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    border: 1px solid #13A76C;
    vertical-align: 0%;
    text-transform: none;
}

.exercise-modal {
    background-color: #13A76C;
    color: #FFE400;
    font-size: 200%;
}

.modal-close {
    color: #FF652F;
    font-size: 75%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* End of Modals Styling */

/* Media Queries */

@media only screen and (max-width: 824px) {

    .brand-logo {
        margin-left: 0%;
    }

    .material-icons {
        color: #13A76C;
    }
}

@media only screen and (max-width: 568px) {
    .brand {
      font-size: 63%;
      text-emphasis: bold;
      text-align: right;
    }

    .brand-logo {
        margin-left: 0%;
    }

    .nav-bird {
        text-align: left;
        margin-top: 5%;
        font-size: 70%;
        margin-left: -10%;
    }

    .material-icons {
        color: #13A76C;
    }

    .tab-exercise {
        font-size: 70%;
    }

    .workout-item {
        width: 100%;
    }

    #workout-card-title {
        font-size: 100%;
    }

    .collection-item {
        font-size: 90%;
    }

    .attempted-btn,
    .missed-btn {
        width: 80%;
        margin: auto;
        margin-bottom: 3%;
    }

    .completed-btn {
        width: 80%;
        margin: auto;
    }

    h4 {
        font-size: 170%;
        margin-bottom: 0%;
    }

    .walking-list {
        margin-top: -10%;
    }

    .input-field.inline {
        margin-left: 10%;
    }

    .title,
    .sub-title {
        font-size: 150%;
    }

    .tag-line {
        text-align: center;
        font-size: 130%;
    }

    .get-started-btn {
        margin-top: -10%;
    }

  }